In [21]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import tree
from matplotlib import pyplot as plt
from sklearn import datasets

In [22]:
df=pd.read_csv('data_mining.csv')
df=pd.DataFrame(data=df.iloc[:,1:6].values,columns=['magazine_promotion','watch_promotion','credit_card_insurance','Sex','life_insurance_promotion'],index=[1,2,3,4,5,6,7,8,9,10])
df

,magazine_promotion,watch_promotion,credit_card_insurance,Sex,life_insurance_promotion
1,Y,N,N,M,N
2,Y,Y,Y,F,Y
3,N,N,N,M,N
4,Y,Y,Y,M,Y
5,Y,N,N,F,Y
6,N,N,N,F,N
7,Y,Y,Y,M,Y
8,N,N,N,M,N
9,Y,Y,Y,M,N
10,N,Y,N,F,Y

In [23]:
le=LabelEncoder()
data=df.iloc[:,0:5]
for i in data:
    data[i]=le.fit_transform(data[i])
data

,magazine_promotion,watch_promotion,credit_card_insurance,Sex,life_insurance_promotion
1,1,0,0,1,0
2,1,1,1,0,1
3,0,0,0,1,0
4,1,1,1,1,1
5,1,0,0,0,1
6,0,0,0,0,0
7,1,1,1,1,1
8,0,0,0,1,0
9,1,1,1,1,0
10,0,1,0,0,1

In [24]:
X=data.iloc[:,0:4].values
y=data.iloc[:,4].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=1,random_state=2)
model=DecisionTreeClassifier(criterion='gini')
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [25]:
l=[]
l.append(input('do you have a magazine promotion:|yes/no| :- '))
l.append(input('do you have a watch promotion:|yes/no| :- '))
l.append(input('do you have a credit card insurance:|yes/no| :- '))
l.append(input('what is your sex:|male/female| :- '))
for i in range(4):
    p=l[i].lower()
    if(p=='yes'):
        l[i]=1
    elif(p=='male'):
        l[i]=1
    else:
        l[i]=0
l=np.array(l)

do you have a magazine promotion:|yes/no| :- yes
do you have a watch promotion:|yes/no| :- yes
do you have a credit card insurance:|yes/no| :- yes
what is your sex:|male/female| :- male

In [26]:
if model.predict([l])==1:
    print("yes you can get life insurance")
else:
    print("No you cant get a life insurance")

yes you can get life insurance

In [27]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [28]:
pip install pydotplus graphviz

Requirement already satisfied: pydotplus in c:\users\angai\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: graphviz in c:\users\angai\anaconda3\lib\site-packages (0.19)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\angai\anaconda3\lib\site-packages (from pydotplus) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [29]:
text_representation = tree.export_text(clf)
print(text_representation)

|--- feature_1 <= 0.50
|   |--- feature_3 <= 0.50
|   |   |--- feature_0 <= 0.50
|   |   |   |--- class: 0
|   |   |--- feature_0 >  0.50
|   |   |   |--- class: 1
|   |--- feature_3 >  0.50
|   |   |--- class: 0
|--- feature_1 >  0.50
|   |--- feature_3 <= 0.50
|   |   |--- class: 1
|   |--- feature_3 >  0.50
|   |   |--- class: 1